.todo_conatiner {
  text-align: center;
  margin: 2rem;
}

.add_todo > input {
  padding: 8px 16px;

  outline: none;
}
.add_todo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn > button {
  display: flex;
  padding: 8px 16px;
  background-color: skyblue;
  font-weight: bolder;
  outline: none;
}

.todo_list {
  display: flex;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 0.5rem;
  background-color: whitesmoke;
  justify-content: space-around;
}

.list_btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.list_btn > button {
  padding: 8px 16px;
}
.update-btn {
  background-color: rgba(23, 252, 38, 0.858);
  border: none;
  font-weight: bolder;
}
.update-btn:hover {
  background-color: green;
  color: white;
}
.dlt-btn {
  background-color: red;
  border: none;
  font-weight: bolder;
}
.dlt-btn:hover {
  background-color: darkred;
  color: white;
}
.logout-btn {
  padding: 8px 16px;
  background-color: black;
  color: white;
  font-weight: bolder;
}
